table {
    border: 1px solid;
    width: 400px;
    height: 140px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid;
}

h1 {
    color: yellow;
    text-align: center;
}

img {
    float: left;
    margin-left: 50px;
}

.bg-color-white {
    background-color: white;
}

#bgcolor {
    width: 800px;
    height: 700px;
    background-color: violet;
    margin: auto;
}

#right {
    float: right;
    margin-right: 100px;
}